.title {
    margin-bottom: 40px;
    font-weight: bold;
}

.musicList {
    display: grid;
    gap: 120px;
    grid-template-columns: repeat(6, minmax(0px, 1fr));
    width: 100%;
}

@media screen and (max-width: 1440px) {
    .musicList {
        gap: 32px;
    }
}