.text_wrapper {
    font-family: Arial, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.2rem;
    font-size: 22px;
    margin-bottom: 20px;
    
}

.product_info {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.price {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1.2rem;
    color: #FF652B;
}

.price_off{
    font-size: 14px;
    text-decoration: line-through;
}

.product_sub_info_title {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.01em;
    line-height: 1.2rem;
    max-width: 80px;
    width: 100%;
    margin: 0;
}

.product_sub_info_content {
    font-size: 13px;
}

.product_sub_info_list {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}

.product_sub_info_list:first-child {
    align-items: center;
}

.delivery_text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.no_inventory {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}