.footer {
    border-top: 1px solid #eee;
    font-size: 13px;
    /* color: #959595; */
}

.inner {
    text-align: center;
    padding: 30px 50px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.list a {
    color: #959595;
}

.address {
    font-style: normal;
    margin-bottom: 10px;
    color: #959595;
}

.about_company {
    color: #959595;
}