* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: black;
    -webkit-font-smoothing: antialiased;
    font-family: inherit;
}

body {
    word-wrap: break-word;
    word-break: break-word;
}

main {
    padding: 50px;
    margin-top: 110px;
}

.swiper {
    padding-bottom: 60px !important;
}

.swiper-pagination-bullet-active {
    background: black !important;
}

.swiper-button-prev, .swiper-button-next {
    color: ghostwhite !important;
    background: #000;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 36px !important;
}

.swiper-button-next, .swiper-button-prev{
    top: var(--swiper-navigation-top-offset, 31%) !important;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled,
.swiper-button-next {
    /* background: rgba(black, black, black, 0.5) !important; */
    padding: 12px;
}