* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: black;
}

main {
    padding: 50px;
}

.swiper {
    padding-bottom: 60px !important;
}

.swiper-pagination-bullet-active {
    background: black !important;
}

.swiper-button-prev, .swiper-button-next {
    color: ghostwhite !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 36px !important;
}